<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />

    <img class="path" src="assets/img/path4.png" />

    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-12 col-md-12 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <h4 class="title"> Consultorios </h4>
            </div>
            <div class="card-body">
              <tabset class="nav-tabs-danger justify-content-center tab-subcategories">
                <tab heading="Lista">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Descripcion</th>
                          <th>Estado</th>
                          <th class="text-right">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let consultorio of ListaConsultorios; let i = index">
                          <td *ngIf="editRowIndex !== i">{{consultorio.nombre}}</td>
                          <td *ngIf="editRowIndex === i">
                            <input [(ngModel)]="consultorio.nombre" type="text">
                          </td>
                          <td *ngIf="editRowIndex !== i">{{consultorio.descripcion}}</td>
                          <td *ngIf="editRowIndex === i">
                            <input [(ngModel)]="consultorio.descripcion" type="text">
                          </td>
                          <td>{{consultorio.estado}}</td>
                          <td class="td-actions text-right">
                            <button *ngIf="editRowIndex === i" (click)="saveEditMode(i)" type="button" rel="tooltip" class="btn btn-primary btn-sm btn-icon">
                              <i class="tim-icons icon-send"> </i>
                            </button>
                            <button (click)="toggleEditMode(i)" type="button" rel="tooltip" class="btn btn-info btn-sm btn-icon">
                              <i class="tim-icons icon-settings-gear-63"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-icon">
                              <i class="tim-icons icon-simple-remove"></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination class="pagination-danger" [boundaryLinks]="true" [totalItems]="totalItems"
                      [ngModel]="pagination" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                      lastText="&raquo;">
                    </pagination>
                  </div>
                </tab>
                <tab heading="Agregar">
                  <form [formGroup]="create" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <label class="col-sm-3 col-form-label"> Nombre </label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input formControlName="nombre" class="form-control" placeholder="Nombre" type="text" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label"> Descripcion </label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input formControlName="descripcion" class="form-control" placeholder="Descripcion"
                            type="text" />
                        </div>
                      </div>
                    </div>
                    <span class="form-text">
                      Todos los consultorio se crean por defecto con estado ACTIVO.
                    </span>
                    <button class="btn btn-simple btn-danger btn-icon btn-round float-right" type="submit"
                      [disabled]="!create.valid">
                      <i class="tim-icons icon-send"> </i>
                    </button>
                  </form>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>